{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="site-header">Spielerliste von<br> {{ team.name}} </h1>
    <a href="/">Zur端ck zur Gesamt端bersicht</a>
    
    <div class="card team">
        <img src="{{ team.logo }}">
        <div class="card-info">
            <h2> Trainer: {{ team.trainer }}</h2>
            <p> Stadt: {{ team.city}} </p>
            <p> Koordinaten: {{ team.location}} </p>
            <p> Gr端ndungsjahr: {{ team.established.year }} </p>
        </div>
    </div>
    
    {% for player in players%}
        <div class="card">
            <div class="card-info">
                <h2>R端ckennummer: {{player.number}} Position: {{ player.position }} </h2>
                <p> Name: {{player.firstname}} {{player.lastname}}</p>
                <p> Alter: {{ player.age }} </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}